.project-1-description {
    font-size: 1.5rem;
    word-wrap: break-word;
}

.project-1-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: 2px yellow;
}
.type-project {
    font-size: 8rem;
}

main {
    border-color: 2px solid yellow;
}
.top-container {
    margin-bottom: 80px;
}

.project-folder {
    min-width: 200px;
    min-height: 200px;
}

.project-folder:active {
    outline: 0;
    border: none;
    text-decoration: none;
}

.project-folder:focus {
    outline: 0;
    border: none;
    text-decoration: none;
}

.hide:active {
    outline: 0;
    border: none;
    text-decoration: none;
}

.hide:focus {
    outline: 0;
    border: none;
    text-decoration: none;
}
.hide {
    min-width: 150px;
    min-height: 150px;
    margin-bottom: 2em;
}


.project-card {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10em;
    opacity: 1;
    animation: fadeInOpacity;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-duration: 2s;
    border: 2px solid grey;
    width: 90%;
    box-shadow: 1px 1px 10px 1px gray;
}
.js {
    width: 48px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    flex-wrap: wrap;
    margin: 0 auto;
}


.buttons {
    margin-bottom: 50px;

}

.languages {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid grey;
    padding: 1rem;
    /* width: 90%; */
    height: 5em;
    margin: 2em;
    box-shadow: 1px 1px 10px 1px gray;
}

.View-Project {
    color: white;
}

button {
    background:transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    color: #0099CC;
    cursor: pointer;
    transition: ease-in .2s;

}

.buttons-container {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

button:hover {
    background-color: #008CBA;
    color: white;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    margin-top: 100px;
    padding-bottom: 30rem;
    width: 100%;
    opacity: 1;
    animation: fadeInOpacity;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    background-color: rgb (25,25,25);
    animation-duration: 2s;
    

}

.portfolio-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* z-index: -1; */
    /* display: flex; */
    /* justify-content: center; */
    animation: fadeInOpacity;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    background-color: rgb (25,25,25);
    animation-duration: 2s;
    
}

.portfolio-title h1 {
    margin-top: 2rem;
    font-size: 4rem;
    z-index: 1;
}

.hide:hover, .project-folder:hover {
    cursor: pointer;
}


.gif-container {
    border-radius: 50px;
}


.gif1 {
    border-radius: 6px;

    
}
.gif2 {
    border-radius: 6px;

    
}
.gif3 {
    border-radius: 6px;

    
}
.sql {
    margin-bottom: 3px;
}

.View-Project {
    background-color: grey;
    border-radius: 20px;
    width: 7em;
}


.scroll a {
    position: relative;
    bottom: 0px;
    left: 43%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color:white;
    font : normal 400 16px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    
  }
  /* .scroll a:hover {
    opacity: .6;
  } */

  .scroll {
      display: flex;
      justify-content: center;
  }
  .scroll a {
    padding-top: 60px;

    
  }
  .scroll p {
      padding-top: 50px;
  }
  .scroll a span {
    position: absolute;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid white;
    border-radius: 50px;
    box-sizing: border-box;
    
  }

  .scroll p {
      text-align: center;
  }
  .scroll a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: white;
    border-radius: 100%;
    -webkit-animation: sdb06 2s infinite;
    animation: sdb06 2s infinite;
    box-sizing: border-box;
  }

  .displayNone {
      display: none;
  }

  @-webkit-keyframes sdb06 {
    0% {
      -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb06 {
    0% {
      transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @-webkit-keyframes sdb10 {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 425px) {

    .portfolio-title h1 {
        font-size: 1.8rem;
     }

    .project-image {
        width: 100%;
    }

    .paragraph {
        padding: 0px;
    }

    .type-project {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 768px) {
    .js {
        width: 3rem;
    }

    .scroll {
        margin-top: 3rem;
    }

    .scroll p {
        padding-top: 2rem;
    }

    .languages img {
        width: 4rem;
    }

    .type-project {
        font-size: 4rem;
    }
}
@media only screen and (min-width: 1024px) {

    .type-project {
        font-size: 5rem;
    }
    .languages img {
        width: 6rem;
    }

    .portfolio-title h1 {
        margin-top: 10rem;
    }
}
@media only screen and (min-width: 1440px) {


    .portfolio-title h1 {
        font-size: 6rem;
    }

    .project-image {
        width: 60%;
    }
    .hide {
        width: 20rem;
    }

    .paragraph {
        font-size: 3rem;
      }
  
    .languages img {
        width: 5rem;
      }

    .View-Project {
        font-size: 3rem;
    }

    .hide {
        width: 10rem;
    }

    button {
        padding: 1rem;
        border-radius: 2rem;
        font-size: 2rem;
    }

}


@media only screen and (min-width: 2560px) {
    .languages {
        padding: 3rem;
    }

    .portfolio-title h1 {
        margin-top: 30rem;
        font-size: 10rem;
    }

    button {
        padding: 2rem;
        border-radius: 3rem;
        font-size: 3rem;
    }

    button:active, button:focus {
        outline: 0;
        border: none;
    }

    .scroll a span {
        width: 60px;
        height: 100px;
    }

    .scroll {
        margin-top: 10rem;
    }

    .scroll p {
        padding-top: 4rem;
        font-size: 4rem;
    }

    .hide {
        width: 15rem;
    }

    .project-card h1 {
        font-size: 6rem;
    }

    .paragraph {
        font-size: 4rem;
    }

    .languages img {
        width: 9rem;
    }

    .View-Project {
        font-size: 5rem;
    }
}