.resume {
    width: 50%;
    height: 50%;
    border: 2px solid black;
    opacity: 1;
    animation: fadeInOpacity;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-duration: 2s;
    margin-top: 100px;
}

.resume-container {
    display: flex;
    justify-content: center;
}




@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* @media only screen and (max-width: 360px) {

    .resume-container {
        height: 220vh;
    }

    .resume {
        width: 80%;
        height: 80%;
    }
}


@media only screen and (max-width: 375px) {

    .resume-container {
        height: 220vh;
    }

    .resume {
        width: 90%;
        height: 70%;
    }

}

@media only screen and (max-width: 411px) {
    .resume-container {
        height: 220vh;
    }

    .resume {
        width: 95%;
        height: 60%;
    }
} */

@media only screen and (max-width: 414px) {

    .resume {
        width: 90%;
        height: 90%;
    }
}


@media only screen and (max-width: 2560px) {

    .resume {
        width: 80%;
        height: 80%;
    }
}